
  <br><br>
  <footer class="flex flex-col items-center bg-white text-center text-gray-800" style="box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);">
    <div class="container p-6">
      <div>
        <p class="flex items-center justify-center">
          <span class="me-4">Register for free</span>
          <a href="/register">
            <button
            type="button"
            class="inline-block rounded-full border-2 border-gray-800 px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-gray-800 transition duration-150 ease-in-out hover:border-gray-600 hover:text-gray-600 focus:border-gray-600 focus:text-gray-600 focus:outline-none focus:ring-0 active:border-gray-600 active:text-gray-600"
            data-twe-ripple-init
            data-twe-ripple-color="dark">
            Sign up!
          </button>
          </a>
        </p>
      </div>
    </div>
  
    <!--Copyright section-->
    <div class="w-full bg-gray-200 p-4 text-center" style="background-color: white;">
      © 2023 Copyright:
      <a href="/" class="text-gray-800 hover:text-gray-800">Book Notes</a>
    </div>
  </footer>

  

